/* общие свойства для всей страницы */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
/* обнуление полей и отступов для всех */
* {
    margin: 0;
	padding: 0;
}

/* секция портфолио */
.section {
    padding: 80px 0;/* отступы сверху и снизу */
}

/* контейнер для первой секции */
.container {
    width: 100%;/* ширина относительно родителя */
    max-width: 1200px; /* ограничение максимальной ширины */
    margin: 0 auto;/* выравнивание по центру */ 
}

/* шапка секции */
.section_header {
    width: 100%; /* ширина относительно родителя */
	max-width: 950px;/* ограничение максимальной ширины */
    margin: 0 auto 50px;/* отступы */
    text-align: center; /* выравнивание по центру */
}
/* подзаголовок */
h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}
/* заголовок */
h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
/* черта под заголовком */
h2:after {
    content: "";
    display: block;
    width: 60px;/* длина черты */
    height: 3px;/* толщина черты */
    margin: 30px auto; /* отступы относительно родителя */
	background-color: #f38181;/* цвет черты */ 
}
/* параграф с текстом */
.section_text {
    font-size: 15px;
    color: #999;
	font-family: 'Roboto', sans-serif;
}

/* флекс контейнер */
.portfolio {
    display: flex;
}
/* колонка */
.portfolio_col {
    /* flex: 1 1 0; */
	width: 25%;
}
/* ячейка внутри колонки */
.portfolio_item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.portfolio_item:hover .portfolio_image {
    opacity: .1;
}

.portfolio_item:hover .portfolio_info {
    opacity: 1;
}
/* фото в ячейке */
.portfolio_image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.portfolio_info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.portfolio_title {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio_text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
	font-family: 'Roboto', sans-serif;
}
/* адаптивность на планшетах */
@media (max-width: 770px) {
    .section {
        padding: 40px 0;
    }

    .portfolio {
        flex-wrap: wrap;
    }

    .portfolio_col {
        flex: none;
        width: 50%;
    }
}
/* адаптивность на смартфонах */
@media (max-width: 575px) {
    .section_header {
        margin-bottom: 50px;
    }

    h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }

    h2:after {
        margin: 20px auto;
    }

    .portfolio_col {
        width: 100%;
    }
}
